In [2]:
#### THIS NOTEBOOK TESTS SOME FUNCTIONALITY

In [3]:
# Importing standard modules and date-special modules
import pandas as pd
import numpy as np
from math import *

In [4]:
df_test = pd.read_csv('Test_Files/new_york_hotels.csv', encoding = 'cp1252')

In [5]:
def haversine(lat1, lon1, lat2, lon2):
    miles_constant = 3959
    lat1, lon1, lat2, lon2 = map(np.deg2rad, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1 
    dlon = lon2 - lon1 
    a = np.sin(dlat/2) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2) ** 2
    c = 2 * np.arcsin(np.sqrt(a)) 
    mi = miles_constant * c
    return mi

In [6]:
%%timeit
# Haversine applied on rows via iteration
haversine_series = []
for iter_index, iter_row in df_test.iterrows():
    haversine_series.append(haversine(40.671, -73.985, iter_row['latitude'], iter_row['longitude']))
df_test['distance'] = haversine_series

146 ms ± 2.18 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [13]:
%%timeit 
df_test['distance'] = df_test.apply(lambda iter_row: haversine(40.671, -73.985, iter_row['latitude'], iter_row['longitude']), axis = 1)

47.3 ms ± 473 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [17]:
%%timeit 
df_test['distance'] = haversine(40.671, -73.985, df_test['latitude'].values, df_test['longitude'].values)

180 µs ± 1.36 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [2]:
# Importing standard modules and date-special modules
import pandas as pd
import numpy as np
from math import *

In [3]:
coords = [('AA', 'one'), ('AA', 'six'), ('BB', 'one'), ('BB', 'two'), ('BB', 'six')]
index = pd.MultiIndex.from_tuples(coords)
df_test = pd.DataFrame([11, 22, 33, 44, 55], index, ['MyData'])
no_slice = slice(None)
df_test.loc[(no_slice, 'six'), :]

        MyData
AA six      22
BB six      55

In [2]:
import pandas as pd
import numpy as np

data = pd.concat([pd.DataFrame([['A']*72, list(pd.date_range('1/1/2011', periods=72, freq='H')), list(np.random.rand(72))], index = ['Group', 'Time', 'Value']).T,
                  pd.DataFrame([['B']*72, list(pd.date_range('1/1/2011', periods=72, freq='H')), list(np.random.rand(72))], index = ['Group', 'Time', 'Value']).T,
                  pd.DataFrame([['C']*72, list(pd.date_range('1/1/2011', periods=72, freq='H')), list(np.random.rand(72))], index = ['Group', 'Time', 'Value']).T],
                  axis = 0).set_index(['Group', 'Time'])

In [3]:
data

                               Value
Group Time
A     2011-01-01 00:00:00   0.274773
      2011-01-01 01:00:00   0.786115
      2011-01-01 02:00:00   0.908883
      2011-01-01 03:00:00   0.520308
      2011-01-01 04:00:00    0.62502
      2011-01-01 05:00:00   0.386575
      2011-01-01 06:00:00   0.316063
      2011-01-01 07:00:00   0.135878
      2011-01-01 08:00:00   0.912792
      2011-01-01 09:00:00   0.165524
      2011-01-01 10:00:00   0.478244
      2011-01-01 11:00:00   0.550689
      2011-01-01 12:00:00   0.652571
      2011-01-01 13:00:00   0.260215
      2011-01-01 14:00:00   0.369657
      2011-01-01 15:00:00   0.804927
      2011-01-01 16:00:00   0.416314
      2011-01-01 17:00:00  0.0457923
      2011-01-01 18:00:00  0.0876566
      2011-01-01 19:00:00    0.83388
      2011-01-01 20:00:00  0.0939612
      2011-01-01 21:00:00   0.695269
      2011-01-01 22:00:00   0.104417
      2011-01-01 23:00:00   0.776025
      2011-01-02 00:00:00   0.859243
      2011-01-02 01:00:00   0.103868
      2011-01-02 02:00:00   0.327023
      2011-01-02 03:00:00   0.201171
      2011-01-02 04:00:00   0.700445
      2011-01-02 05:00:00   0.841299
...                              ...
C     2011-01-02 18:00:00   0.540105
      2011-01-02 19:00:00   0.243205
      2011-01-02 20:00:00   0.306304
      2011-01-02 21:00:00   0.152532
      2011-01-02 22:00:00   0.188201
      2011-01-02 23:00:00   0.520023
      2011-01-03 00:00:00   0.577559
      2011-01-03 01:00:00   0.589173
      2011-01-03 02:00:00   0.213574
      2011-01-03 03:00:00   0.172012
      2011-01-03 04:00:00   0.317738
      2011-01-03 05:00:00   0.101378
      2011-01-03 06:00:00   0.397459
      2011-01-03 07:00:00   0.192398
      2011-01-03 08:00:00   0.349115
      2011-01-03 09:00:00   0.857286
      2011-01-03 10:00:00   0.097688
      2011-01-03 11:00:00   0.627496
      2011-01-03 12:00:00   0.500714
      2011-01-03 13:00:00   0.379374
      2011-01-03 14:00:00   0.927629
      2011-01-03 15:00:00    0.69839
      2011-01-03 16:00:00   0.091634
      2011-01-03 17:00:00  0.0594294
      2011-01-03 18:00:00   0.802914
      2011-01-03 19:00:00    0.53672
      2011-01-03 20:00:00   0.285365
      2011-01-03 21:00:00   0.227191
      2011-01-03 22:00:00   0.330299
      2011-01-03 23:00:00   0.819791

[216 rows x 1 columns]