In [1]:
# THIS NOTEBOOK SHOWS EXAMPLES OF CUSTOM AND PYTHON FUNCTIONS APPLICATION FOR THE PURPOSES OF MRI PROJECT

In [2]:
# Expanding visibility zone for Python engine to make HH Modules seen
import sys 
sys.path.append('../..')

In [3]:
# Importing functions from hh_dates HH Module
from HH_Modules.hh_dates import hh_create_bus_dates
from HH_Modules.hh_dates import hh_drop_nyse_closures
from HH_Modules.hh_mri import hh_build_mri_from_model

In [4]:
# Importing standard modules and date-special modules
import numpy as np
import pandas as pd
from datetime import date
from datetime import timedelta

In [5]:
# Examples of using hh_dates function hh_create_bus_dates
date_format = '%Y-%m-%d'
null_date_ML_number = 693962
null_date_stamp = date(1900, 1, 1)
first_date_stamp = date(1998, 1, 1)
last_date_stamp = date(2018, 12, 31)
null_date = null_date_stamp.strftime(date_format)
first_date = first_date_stamp.strftime(date_format)
last_date = last_date_stamp.strftime(date_format)

date_index_days_str = hh_create_bus_dates('string', first_date, last_date, 'day')
date_index_weeks_str = hh_create_bus_dates('string', first_date, last_date, 'week')
date_index_monthes_str = hh_create_bus_dates('string', first_date, last_date, 'month')
date_index_quarters_str = hh_create_bus_dates('string', first_date, last_date, 'quarter')
date_index_years_str = hh_create_bus_dates('string', first_date, last_date, 'year')

date_index_days_date = hh_create_bus_dates('date', first_date_stamp, last_date_stamp, 'day')
date_index_weeks_date = hh_create_bus_dates('date', first_date_stamp, last_date_stamp, 'week')
date_index_monthes_date = hh_create_bus_dates('date', first_date_stamp, last_date_stamp, 'month')
date_index_quarters_date = hh_create_bus_dates('date', first_date_stamp, last_date_stamp, 'quarter')
date_index_years_date = hh_create_bus_dates('date', first_date_stamp, last_date_stamp, 'year')

print('First date: ', first_date)
print('Last date: ', last_date)
print('Business days (string type): ', date_index_days_str)
print('Business weeks ends (date type): ', date_index_weeks_date)
print('Business monthes ends (string type): ', date_index_monthes_str)
print('Business quarters ends (date type): ', date_index_quarters_date)
print('Business years ends (string type): ', date_index_years_str)

hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with day interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with week interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with month interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with quarter interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with year interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with day interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with week interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with month interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with quarter interval successfully generated
hh_create_bus_dates: Business dates index for period from 1998-01-01 to 2018-12-31 with year interval successfully generated
First date:  1998-01-01
Last date:  2018-12-31
Business days (string type):  DatetimeIndex(['1998-01-01', '1998-01-02', '1998-01-05', '1998-01-06',
               '1998-01-07', '1998-01-08', '1998-01-09', '1998-01-12',
               '1998-01-13', '1998-01-14',
               ...
               '2018-12-18', '2018-12-19', '2018-12-20', '2018-12-21',
               '2018-12-24', '2018-12-25', '2018-12-26', '2018-12-27',
               '2018-12-28', '2018-12-31'],
              dtype='datetime64[ns]', length=5478, freq='B')
Business weeks ends (date type):  DatetimeIndex(['1998-01-02', '1998-01-09', '1998-01-16', '1998-01-23',
               '1998-01-30', '1998-02-06', '1998-02-13', '1998-02-20',
               '1998-02-27', '1998-03-06',
               ...
               '2018-10-26', '2018-11-02', '2018-11-09', '2018-11-16',
               '2018-11-23', '2018-11-30', '2018-12-07', '2018-12-14',
               '2018-12-21', '2018-12-28'],
              dtype='datetime64[ns]', length=1096, freq='W-FRI')
Business monthes ends (string type):  DatetimeIndex(['1998-01-30', '1998-02-27', '1998-03-31', '1998-04-30',
               '1998-05-29', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-30',
               ...
               '2018-03-30', '2018-04-30', '2018-05-31', '2018-06-29',
               '2018-07-31', '2018-08-31', '2018-09-28', '2018-10-31',
               '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', length=252, freq='BM')
Business quarters ends (date type):  DatetimeIndex(['1998-03-31', '1998-06-30', '1998-09-30', '1998-12-31',
               '1999-03-31', '1999-06-30', '1999-09-30', '1999-12-31',
               '2000-03-31', '2000-06-30', '2000-09-29', '2000-12-29',
               '2001-03-30', '2001-06-29', '2001-09-28', '2001-12-31',
               '2002-03-29', '2002-06-28', '2002-09-30', '2002-12-31',
               '2003-03-31', '2003-06-30', '2003-09-30', '2003-12-31',
               '2004-03-31', '2004-06-30', '2004-09-30', '2004-12-31',
               '2005-03-31', '2005-06-30', '2005-09-30', '2005-12-30',
               '2006-03-31', '2006-06-30', '2006-09-29', '2006-12-29',
               '2007-03-30', '2007-06-29', '2007-09-28', '2007-12-31',
               '2008-03-31', '2008-06-30', '2008-09-30', '2008-12-31',
               '2009-03-31', '2009-06-30', '2009-09-30', '2009-12-31',
               '2010-03-31', '2010-06-30', '2010-09-30', '2010-12-31',
               '2011-03-31', '2011-06-30', '2011-09-30', '2011-12-30',
               '2012-03-30', '2012-06-29', '2012-09-28', '2012-12-31',
               '2013-03-29', '2013-06-28', '2013-09-30', '2013-12-31',
               '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31',
               '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
               '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-30',
               '2017-03-31', '2017-06-30', '2017-09-29', '2017-12-29',
               '2018-03-30', '2018-06-29', '2018-09-28', '2018-12-31'],
              dtype='datetime64[ns]', freq='BQ-DEC')
Business years ends (string type):  DatetimeIndex(['1998-12-31', '1999-12-31', '2000-12-29', '2001-12-31',
               '2002-12-31', '2003-12-31', '2004-12-31', '2005-12-30',
               '2006-12-29', '2007-12-31', '2008-12-31', '2009-12-31',
               '2010-12-31', '2011-12-30', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31', '2016-12-30', '2017-12-29',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='BA-DEC')

In [6]:
# Generating Timeseries for comparing MatLab and Python hh_create_bus_dates functionality
calendar_delta = first_date_stamp - null_date_stamp

date_index_calendar_days = pd.date_range(first_date, last_date, freq = 'D')

ser_all_days = pd.Series(np.arange(date_index_calendar_days.size) + null_date_ML_number + calendar_delta.days, 
                         index = date_index_calendar_days.date, name = 'ML Numbers')

ser_bus_days = ser_all_days[date_index_days_str]
ser_bus_days.index.name = 'Business Dates'
ser_bus_days

Business Dates
1998-01-01    729756
1998-01-02    729757
1998-01-05    729760
1998-01-06    729761
1998-01-07    729762
1998-01-08    729763
1998-01-09    729764
1998-01-12    729767
1998-01-13    729768
1998-01-14    729769
1998-01-15    729770
1998-01-16    729771
1998-01-19    729774
1998-01-20    729775
1998-01-21    729776
1998-01-22    729777
1998-01-23    729778
1998-01-26    729781
1998-01-27    729782
1998-01-28    729783
1998-01-29    729784
1998-01-30    729785
1998-02-02    729788
1998-02-03    729789
1998-02-04    729790
1998-02-05    729791
1998-02-06    729792
1998-02-09    729795
1998-02-10    729796
1998-02-11    729797
               ...
2018-11-20    737384
2018-11-21    737385
2018-11-22    737386
2018-11-23    737387
2018-11-26    737390
2018-11-27    737391
2018-11-28    737392
2018-11-29    737393
2018-11-30    737394
2018-12-03    737397
2018-12-04    737398
2018-12-05    737399
2018-12-06    737400
2018-12-07    737401
2018-12-10    737404
2018-12-11    737405
2018-12-12    737406
2018-12-13    737407
2018-12-14    737408
2018-12-17    737411
2018-12-18    737412
2018-12-19    737413
2018-12-20    737414
2018-12-21    737415
2018-12-24    737418
2018-12-25    737419
2018-12-26    737420
2018-12-27    737421
2018-12-28    737422
2018-12-31    737425
Freq: B, Name: ML Numbers, Length: 5478, dtype: int32

In [7]:
# Generating xlsx file for comparing MatLab and Python hh_create_bus_dates functionality on example of business days daily
xls_writer = pd.ExcelWriter('Data_Files/Test_Files/bus_dts.xlsx')
ser_bus_days.to_excel(xls_writer, 'daily')
xls_writer.save()

In [8]:
# Examples of using hh_dates function hh_drop_nyse_closures
calendar_delta = first_date_stamp - null_date_stamp

date_nyse_index_days = hh_drop_nyse_closures(date_index_days_str)
ser_bus_nyse_days = pd.Series(0, index = date_nyse_index_days.date, name = 'ML Numbers')
ser_bus_nyse_days.index.name = 'Business Dates Wihtout NYSE Closures'
ser_bus_nyse_days

hh_drop_nyse_closures: NYSE closure dates successfully dropped from date index

Business Dates Wihtout NYSE Closures
1998-01-02    0
1998-01-05    0
1998-01-06    0
1998-01-07    0
1998-01-08    0
1998-01-09    0
1998-01-12    0
1998-01-13    0
1998-01-14    0
1998-01-15    0
1998-01-16    0
1998-01-20    0
1998-01-21    0
1998-01-22    0
1998-01-23    0
1998-01-26    0
1998-01-27    0
1998-01-28    0
1998-01-29    0
1998-01-30    0
1998-02-02    0
1998-02-03    0
1998-02-04    0
1998-02-05    0
1998-02-06    0
1998-02-09    0
1998-02-10    0
1998-02-11    0
1998-02-12    0
1998-02-13    0
             ..
2018-11-15    0
2018-11-16    0
2018-11-19    0
2018-11-20    0
2018-11-21    0
2018-11-23    0
2018-11-26    0
2018-11-27    0
2018-11-28    0
2018-11-29    0
2018-11-30    0
2018-12-03    0
2018-12-04    0
2018-12-06    0
2018-12-07    0
2018-12-10    0
2018-12-11    0
2018-12-12    0
2018-12-13    0
2018-12-14    0
2018-12-17    0
2018-12-18    0
2018-12-19    0
2018-12-20    0
2018-12-21    0
2018-12-24    0
2018-12-26    0
2018-12-27    0
2018-12-28    0
2018-12-31    0
Name: ML Numbers, Length: 5283, dtype: int64

In [9]:
# Generating xlsx file for comparing MatLab and Python hh_drop_nyse_closures functionality on example of business days daily
xls_writer = pd.ExcelWriter('Data_Files/Test_Files/bus_nyse_dts.xlsx')
ser_bus_nyse_days.to_excel(xls_writer, 'daily')
xls_writer.save()
# identified one discrepancy: 2018-12-05 - NYSE closure day for Python library and valid business day for MatLab function

In [10]:
###################################################################################################################################

In [11]:
df_model = hh_build_mri_from_model('Data_Files/Source_Files/mri_data.xlsx', 'Model 01', date_nyse_index_days)

hh_build_mri_from_model: Model profile successfully read
hh_build_mri_from_model: Group border rows successfully dropped
hh_build_mri_from_model: Group sum weights control successfully performed
hh_build_mri_from_model: Model asset part extracted
hh_build_mri_from_model: Model MRI part extracted
hh_aggregate_xlsx_tabs: Tab VIX ( iv_us ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab V2X ( iv_eu ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab VFTSE ( iv_uk ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab VNKY ( iv_jp ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab RVX ( iv_rvx ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab VXEEM ( iv_eem ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab EMUSOAS ( oas_em ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab LF98OAS ( oas_hy ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab GBPUSD ( fx_gbp ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab EURUSD ( fx_eur ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab USDJPY ( fx_jpy ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: Tab USDCHF ( fx_chf ) successfully loaded from Data_Files/Source_Files/mri_data.xlsx
hh_aggregate_xlsx_tabs: MS EXCEL file Data_Files/Source_Files/mri_data.xlsx successfully exported to aggregated DataFrame
hh_build_mri_from_model: Aggregated data table successfully constructed

In [12]:
df_model.tail()

,iv_us,iv_eu,iv_uk,iv_jp,iv_rvx,iv_eem,oas_em,oas_hy,fx_gbp,fx_eur,fx_jpy,fx_chf
Dates,,,,,,,,,,,,
2018-12-17,24.52,19.8187,19.479,20.65,28.04,26.76,3.25,4.47,12.9425,7.1000,6.8300,6.5525
2018-12-18,25.58,20.0366,21.416,22.64,28.25,25.98,3.28,4.64,12.9750,7.1475,6.9850,6.5400
2018-12-19,25.58,19.6024,20.516,23.07,28.49,25.85,3.31,4.75,12.8400,6.9400,6.9975,6.4950
2018-12-20,28.38,20.7330,20.015,25.97,31.35,25.91,3.32,5.08,12.9200,7.2225,7.7925,6.8100
2018-12-21,30.11,20.3984,23.056,26.24,30.93,26.34,3.35,5.14,12.9400,7.1400,7.9800,6.8150